In [1]:
# standard
import datetime as dt
from dateutil.relativedelta import relativedelta

# third-party
import numpy as np
import pandas as pd
pd.set_option("max_rows", 500, "max_colwidth", 500, "max_columns", 500)
pd.options.plotting.backend = "plotly"
import plotly.express as px

In [2]:
logs = pd.read_csv("./logs_train.csv", parse_dates=["use_date", "use_month"])
print(logs.shape)
logs.head()

(106313, 4)

            log_id customer_id   use_date  use_month
0  L00000049012332    AS040841 2018-04-01 2018-04-01
1  L00000049012333    AS046594 2018-04-01 2018-04-01
2  L00000049012336    AS161071 2018-04-01 2018-04-01
3  L00000049012337    AS170379 2018-04-01 2018-04-01
4  L00000049012338    AS186727 2018-04-01 2018-04-01

In [3]:
customer = pd.read_csv("./customer_train.csv", parse_dates=["start_date","end_date", "decide_end_date"])
print(customer.shape)
customer.head()

(2780, 8)

,customer_id,gender,start_date,end_date,decide_end_date,campaign_name,class_name,price
0,TS975153,F,2017-01-01,NaT,NaT,通常,デイタイム,7500
1,HI056567,M,2017-01-01,NaT,NaT,通常,ナイト,6000
2,TS749639,M,2017-01-01,NaT,NaT,通常,オールタイム,10500
3,PL259109,F,2017-01-01,NaT,NaT,通常,デイタイム,7500
4,HD165212,M,2017-01-01,NaT,NaT,通常,ナイト,6000

In [4]:
# 月毎のログ集計
monthly_logs = logs.groupby(["customer_id", "use_month"]).log_id.count().reset_index()
monthly_logs.rename(columns={"log_id": "count"}, inplace=True)
# 顧客情報と結合
monthly_logs = monthly_logs.merge(customer, how="left", on="customer_id")
monthly_logs["start_month"] = monthly_logs.start_date.apply(lambda d: d.replace(day=1))
monthly_logs.head()

,customer_id,use_month,count,gender,start_date,end_date,decide_end_date,campaign_name,class_name,price,start_month
0,AS008805,2018-06-01,8,M,2018-06-07,NaT,NaT,入会費半額,オールタイム,10500,2018-06-01
1,AS008805,2018-07-01,7,M,2018-06-07,NaT,NaT,入会費半額,オールタイム,10500,2018-06-01
2,AS008805,2018-08-01,5,M,2018-06-07,NaT,NaT,入会費半額,オールタイム,10500,2018-06-01
3,AS008805,2018-09-01,2,M,2018-06-07,NaT,NaT,入会費半額,オールタイム,10500,2018-06-01
4,AS008805,2018-10-01,2,M,2018-06-07,NaT,NaT,入会費半額,オールタイム,10500,2018-06-01

In [16]:
monthly_logs["is_last"] = monthly_logs.apply(lambda s: s.use_month == s.decide_end_date.replace(day=1), axis=1)

In [17]:
monthly_logs.groupby("use_month").is_last.mean()

use_month
2018-04-01    0.062864
2018-05-01    0.058204
2018-06-01    0.053706
2018-07-01    0.056554
2018-08-01    0.050158
2018-09-01    0.048000
2018-10-01    0.047671
2018-11-01    0.060956
2018-12-01    0.068254
2019-01-01    0.079722
Name: is_last, dtype: float64

In [21]:
customer.end_date.value_counts(dropna=False)

NaT           1591
2019-02-28     149
2019-01-31     129
2018-12-31     111
2018-05-31     108
2018-04-30     107
2018-08-31     107
2018-06-30     105
2018-07-31     100
2018-09-30      95
2018-10-31      90
2018-11-30      88
Name: end_date, dtype: int64